<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <title><%= pageTitle %></title> -->

  <!-- You MUST include jQuery before Fomantic -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>

<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href=<%=cssName %> >
<link rel="stylesheet" href="css/timeline.css">
<link rel="stylesheet" href="css/owl-carousel.css">

<!-- Font Awesome CDN -->
<script src="https://kit.fontawesome.com/efd71d3ed7.js" crossorigin="anonymous"></script>

<!-- carausel -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<body>

